*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    margin-bottom: 100px;
    font-family: 'Playfair Display SC', serif;
}
img{
    width: 282px;
    height: 75px;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: rgba(255, 205, 205, 0.616);
    padding: 10px;
}
nav{
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.nav-menu__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 30px;
}
.nav-menu__switch input {
    display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
    color: rgb(73, 73, 73);
    text-align: center;
    padding-top: 130px;
}
.nav-menu__switch__header{
    margin-left: -200px;
    margin-top: 50px;
    font-size: 25px;
}
.new_task{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.new_task > input{
    border-radius: 5px;
    width: 500px;
    height: 50px;
}
.new_task__plus{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 205, 205, 0.616);
    border: none;
    margin-top: -5px;
    margin-left: 13px;
}
.new_task__plus::before {
    content: "+";
    color: white;
    font-size: 50px;
}
.rows{
    width: 80%;
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.rows__items{
  text-align: center;
  font-size: 30px;
}
footer{
    position: fixed;
    margin-top: 100px;
	  bottom: 0;
	  width: 100%;
    border-top: 1px solid rgb(73, 73, 73);;
    padding: 20px 0 10px;
    background-color: #4d4d4d; 
    color: white;
    font-family: 'Playfair Display SC', serif;
}
@media screen and (max-width: 1660px) {
}