*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display SC', serif;
    user-select: none;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.back{
    background-color: white;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 205, 205, 0.8);
    height: 120px;
}
header img{
    width: 182px;
    height: 50px;
    margin-left: 20px;
}
.main{
    text-align: center;
}
h1{
    color: rgb(73, 73, 73);
    text-align: center;
    margin-top: 20px;
}
.main > p{
    font-size: 25px;
    color: rgb(73, 73, 73);
    margin-top: 1.5vw;
}
.main__input{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-plus-circle{
    padding-left: 10px;
    color:rgb(73, 73, 73);
}
.fa-plus-circle:hover{
    cursor: pointer;
}
.main__input > input{
    font-size: 12px;
    color: rgb(73, 73, 73);
    background-color: #ffffff;
    border-radius: 7px;
    padding: 3px;
    width: 250px;
    height: 27px;
    outline: none;
    border: 1px solid rgba(255, 205, 205);
}
.switch{
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.switch_header{
    margin-right: 10px;
}
input[type = "checkbox"]{
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    background: rgb(206, 206, 206);
    border: 1px solid  rgb(73, 73, 73);
}
input[type = "checkbox"]:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 18px;
    background: linear-gradient(0deg, rgb(65, 64, 64), rgb(150, 150, 150));
    border-radius: 20px;
    transform: scale(.98,.96);
    transition: .5s;
  }
input:checked[type = "checkbox"]:before{
    left: 16px;
  }
main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5vw;
    width: 80vw;
}
h3{
    color:  rgb(73, 73, 73);
    font-size: 26px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 25%;
    min-height: 60vh;
    border: 1.5px solid  rgb(73, 73, 73);
    background-color: #fff;
    padding: 10px;
}
.cards > h3{
    padding-top: 15px;
}
.header__color{
    font-size: 24px !important;
    color:  rgb(51, 51, 51);
    font-size: 14px;
  }
.text__color{
    color:  rgb(56, 56, 56);
}
.bold{
    font-weight: 600;
    font-size: 14px;
}
.edit__font{
    font-size: 12px;
}
ul{
    padding-top: 10px;
    min-height: 10vw;
    min-width: 10vw;
    width: 100%;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid  rgba(73, 73, 73);
    border-radius: 10px;
    padding-top: 5px;
    margin: 0 0 1vw 0;
    padding-left: 10px;
    width: 100%;
    min-width: 170px;
    min-height: 50px;
    background-color:rgba(255, 205, 205);
    list-style: none;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
}
li:hover{
    cursor: move;
}
li h3{
    padding-bottom: 10px;
}
button{
    border: none;
    background-color:rgba(253, 207, 207, 0.897);
    padding: 0;
    margin: 5px;
    height: 28px;
    transition: .5s;
}
.sub__main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}
.back{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(163, 163, 163, .3);
}
.main__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    width: 600px;
    background-color: white;
}
.light__border{
    border-radius: 25px;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: 0 0 15px rgb(131, 131, 131);
}
.close{
    position: absolute;
    right: 1vw;
    top: .5vw;
}
.close:hover{
    cursor: pointer;
}
.flex__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 27vw;
}
.flex-form__object p{
    font-weight: bold;
    font-size: 14px;
}
.flex-form__object input{
    border: 1.5px solid  rgb(230, 167, 167);
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 7px;
    padding: 7px;
    width: 200px;
    outline: none;
}
.flex__container button{
    background: rgb(248, 201, 201);
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.fa-times{
    color: rgb(73, 73, 73);
}
#selecetion{
    border: 1.5px solid  rgb(248, 201, 201);
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    border-radius: 7px;
    padding: 7px;
    width: 217px;
    outline: none;
}
option{
    padding: 5px;
}
.sub__menu{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6vw;
}
.anim{
    transition: .5s;
}
.dark__theme{
    min-height: 100vh;
}
.dark__theme, .dark__background{
    background-color: #0f111a;
    transition: .8s;
    color: #a3a3a3;
}
.dark__background{
    transition: .5s;
}
.switch_dark{
    color: #000000;
    transition: .8s;
}
.dark__header{
    background-color: #833939;
}
.dark__block{
    border: 2px solid #3b3f51;
    transition: .8s;
    background-color: #635E5E;
}
.dark__block > h3{
    transition: .8s;
    color: #BABABA;
}
.theme_dark{
    background-color: #1c1d1d;
    border: 1px solid #6e4646;
    border-radius: 0px;
    transition: .8s;
    border-radius: 5px;
}
.dark-sub__menu i{
    color: #828584;
}
.fa-times{
    color: rgb(255, 187, 187);
}
.theme_dark > h3{
    font-size: 24px;
    color: #cacaca;
    transition: .8s;
}
.theme_dark > p{
    color: #9c9c9c;
    transition: .8s;
}
.dark__content > p{
    color: #000000;
    transition: .8s;
}
.dark__content > h1{
    color: #000000;
    transition: .8s;
}
.dark__button{
    background-color: #142129;
    transition: .8s;
}
.dark__button > img{
    background-color: #142129;
    transition: .8s;
}
.dark__mode input, .dark__mode select{
    background-color: #1f1f1f ;
    border: 1px solid #606981 ;
    color: #7e8181;
    transition: .8s;
}
.dark__mode > i {
    color: rgb(53, 53, 53) ;
}
.dark_save{
    background-color: rgb(124, 61, 61) !important;
    border: 1 solid black;
    height: 105px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
    color: #b1b1b1 !important;
}
.dark__sel{
    color: #7e8181 !important;
    background-color: #1f1f1f !important;
    border: 1px solid #606981 !important;
}
.plan__text, .procces__content, .ended__content{
    z-index: 1;
}
.icon{
    background-color:  rgb(255, 205, 205);
}
.reg__form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 10vw;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}
.reg__form input{
    border: 0;
    background: none;
    outline: none;
    width: 15vw;
    padding: 5px;
    position: relative;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}
.normal__pos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__mode{
    background:  rgb(255, 187, 187);
    border-radius: 5px;
    color: rgb(73, 73, 73);
    height: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.null{
    display: none;
}
.dark__reg__form{
    background-color: rgb(107, 107, 107);
}
.dark__reg__form > button {
    background-color:  #833939;
    color: rgb(204, 204, 204);
}
.dark__reg__form > input {
    background-color: #1c1b1f;
    border: rgb(175, 175, 175);
    color: #1c1b1f;
}
.modal_window-enter-active, .modal_window-leave-active{
    transition: all .4s;
}
.modal_window-enter, .modal_window-leave-to{
    transform: translateY(-100vh);
    opacity: 0;
}
@media screen and (max-width: 1048px) {
    h3{
      font-size: 20px;
    }
}
@media screen and (max-width: 933px) {
    .outline__block{
      margin-top: 25px;
    }
    main{
      flex-direction: column;
      justify-content: center;
    }
    .cards{
      width: 80%;
      align-self: center;
      margin-bottom: 20px;
    }
    .switch{
      margin-top: 20px;
      align-self: center;
    }
}
@media screen and (max-width: 690px) {
    header{
      flex-direction: column;
      height: 230px;
    }
    .switch{
      margin-top: 20px;
      align-self: center;
    }
    .cards{
        margin-top: 100px;
    }
}
